#root {
  max-width: 1780px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
  height: 100vh;
}

body {
  background: radial-gradient(100% 100% at 50% 0%, #010E3D 0%, #00061C 33%, #00030E 100%);
  font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar {
  width: .45rem;
  cursor: pointer;
}
 
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #010E3D;
}
 
::-webkit-scrollbar-thumb {
  background-color: #36548B;
  border-radius: 2px;
  outline: 1px solid rgba(255, 255, 255, 0.1);
}