#root {
  max-width: 1480px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

body {
  background: radial-gradient(100% 100% at 50% 0%, #010E3D 0%, #00061C 33%, #00030E 100%);
  font-family: 'Inter', sans-serif;
}
